#cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 100;
}
#cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
#cartTab .btn2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
#cartTab .close{
    background-color: #eee;
}