:root{
    --main-color:#fd4646;
    --text-color:#02ac70;
    --bg-color:#ffffff;
    --container-color:#1e1e2a;
}
#cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 100;
}
.cart-img{
    width: 100%;
}
#cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
#cartTab.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.btn-buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}
.total-price{
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7rem;
}
#cart-icon{
    position: relative;
    font-size: 1.8rem;
    cursor: pointer;
}
#close-cart{
    font-size: 40px;
    display: inline;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
    width: 50%;
}
.cart-product-title{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color:var(--main-color) ;
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    color: #0f0f0f;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
#cartTab .btn2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cards{
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cards div{
    border-radius: 5px;
}
.cards div:hover{
   transform: scale(1.1);
   filter: blur(0.1);
   z-index: -1;
}
.cards button:hover{
    background-color: #3b3737;
}

